#Outline {
  background-color: white;
  Width: 500px;
  min-height: 200px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #444444;
  Font-size: 20px;

}
#Plan {
  Width: 500px;
  min-height: 200px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #444444;
  Font-size: 20px;
}
