element.style {
}
user agent stylesheet
section {
    display: block;
}

html {
  background-color: #8FBC8F;
  padding: 25px;
  font-size: 15px;

}

#body {
    background-color: #8FBC8F;
    padding: 25px;
    font-size: 15px;
    color: black;
     font-family: "Times New Roman", Times, serif;
}




img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
#float-right{
  float: right;
}
#content {
  background-color:#2E8B57;
Width: 1000px;
  min-height: 300px;
  padding: 10px;
 margin: auto;
  border: solid 1px #444444;
  Font-size: 20px;

}

#screenshot {
  background-color:#2E8B57;
width: 450px;
  height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #444444;

}
p {
  font-size: 20px;
}
nav {
  overflow: hidden;
   background-color: #333;

}
#subtitle {
  font-size: 15px;
  font-style: italic;
  text-align: center;
}

.linkbox {
  padding: 10px;
  font-size: 80%;
}
.rightlink {
  float: right;
}
.blur {
  filter: blur(4px);
}
